.header-site {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Sora", sans-serif;
  z-index: 3;
  transition: 0.3s;
}

.header-height {
  height: 70px;
  transition: 0.3s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.342);
}

.button-drawer-text {
  color: #7e7e7e !important;
  font-size: 17px !important;
  font-weight: 500 !important;
}

.dropdown-header {
  color: #5a5a5a !important;
  font-size: 17px !important;
  width: 200px;
}

.dropdown-header:hover {
  color: #000000 !important;
}

.container-link-icon-header:hover .link {
  transform: translateX(10px);
  transition: transform 0.4s ease-in-out;
}

.container-link-icon-header:hover .icon {
  animation: rotacionar 1s ease-in-out;
  fill: #000000;
}

.link,
.icon {
  transition: 0.4s;
}

@keyframes rotacionar {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(20deg);
  }
}

.icon {
  margin-left: 20px;
  fill: #6d6d6d;
}

@media (max-width: 1200px) {
  .space-img {
    transform: translateX(-170%) !important;
    transition: 0.8s;
  }
}

.titles-drawer-links {
  color: #265ae6;
  font-size: 20px;
}

/*--------------------------Home Site Principal------------------------*/

.home-page-site-principal {
  position: relative;
  background-image: url("../assets/image-home.png");
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 0px 30px;
}

.home-page-site-principal::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.685); /* Preto com 50% de transparência */
  z-index: 1; /* Certifique-se de que a camada de sobreposição fique acima da imagem */
}

.home-page-site-principal-container-informations {
  margin: auto;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-page-site-principal-container-text-title {
  font-size: 25px;
  font-family: "Sora", serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 50px;
  color: white;
  text-align: center;
  margin-bottom: 60px;
}

.home-page-container-filters {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  margin: auto;
  transition: 0.4s;
}

/*-----------------------Input text filters--------------------*/

.myInput {
  border: 1px solid #808080 !important;
  border-radius: 15px !important;
  transition: 0s !important;
  font-size: 17px !important;
  letter-spacing: 0px !important;
  color: #808080 !important;
  height: 65px;
}

.myInput::placeholder {
  font-size: 17px !important;
  color: red !important;
  letter-spacing: 0px !important;
}

.myInput:hover {
  border: 1px solid black !important;
  transition: 0s !important;
}

@media (max-width: 1300px) {
  .home-page-container-filters {
    width: 100%;
    flex-direction: column;
  }

  .input-filtro-imoveis {
    width: 100% !important;
  }
}

/*-------------------------Destaques----------------------*/

.container-site-principal-destaques {
  padding: 150px 20px;
}

.container-site-principal-destaques h1 {
  text-align: center;
  font-family: "Sora", sans-serif;
  margin-bottom: 50px;
  font-size: 40px;
}

.container-site-principal-informacoes-destaques {
  display: flex;
  justify-content: center;
  gap: 80;
  align-items: center;
  width: 100%;
  margin: auto;
}

.container-site-principal-lista-informacoes:nth-child(2){
  width: 550px;
}

.container-site-principal-lista-informacoes-avaliacoes {
  font-family: "Sora", sans-serif;
  margin: 30px 0 30px 0;
}

.container-site-principal-lista-informacoes-avaliacoes-exibirmais{
  font-family: "Sora", sans-serif;
  margin: 20px 0 20px 0;
  font-size: 20px;
}

.container-site-principal-lista-informacoes ul li p {
  display: flex;
}
/*----------------------configuração swiper carousel---------------------*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: #08789a36;
}

.swiper-container-carousel .swiper-button-next,
.swiper-container-carousel .swiper-button-prev {
  background-color: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: bold;
  color: #082f9a;
  font-weight: bold;
  transition: opacity 0.3s ease;
  box-shadow: 0px 8px 5px #83b2c173;
}

.swiper-container-carousel [class^="swiper-button-"]::after {
  font-size: 15px;
}

.swiper-grid {
  padding: 0px 0 25px 0;
}

.swiper-grid .swiper-pagination-bullet {
  position: relative;
  top: 10px;
  height: 12px;
  width: 12px;
}

.swiper-container-carousel .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
}

/*-------------------------destaques-----------------------*/

.container-carousel-destaques {
  padding: 0 150px;
  margin-bottom: 100px;
}

.container-carousel-destaques h1,
p {
  font-family: "Sora", sans-serif;
}

/*---------------------Site principal consultorias------------------*/

.container-site-principal-consultorias {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.container-site-principal-consultorias-vantagens,
.container-site-principal-consultorias-corretores {
  width: 710px; /* Ajuste conforme necessário */
  height: 300px; /* Ajuste conforme necessário */
  color: white;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border-radius: 10px;
  background-size: cover;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Adiciona este estilo */
}

.button-consultores {
  width: 50%;
  background-color: white;
  padding: 15px 20px;
  border-radius: 5px;
  text-align: center;
  color: black;
  font-family: "Sora", sans-serif;
  cursor: pointer;
  transition: 0.4s;
  position: absolute;
  margin: 0 0 20px 20px;
}

.site-fifth {
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.2ms ease-in-out;
  letter-spacing: 2px !important;
  font-weight: lighter !important;
}

.site-fifth:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: -1;
  transition: width 300ms ease-in-out;
}

.site-fifth:hover {
  color: #fff;
}

.site-fifth:hover:after {
  width: 110%;
}

.container-site-principal-consultores {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.container-site-principal-consultor {
  width: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0 2.5px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.container-site-principal-consultor-button {
  display: flex;
  align-items: center;
  background-color: #020617;
  width: 100%;
  height: 48px;
  color: white;
  font-family: "Sora", sans-serif;
}

.container-site-principal-consultor img {
  width: 100%; /* A imagem ocupa toda a largura do container */
  height: 100%; /* A imagem ocupa toda a altura do container */
  object-fit: cover; /* Ajusta a imagem para cobrir o container, cortando se necessário */
}

/*-------------------Depoimentos-------------------*/

.container-site-principal-depoimentos {
  padding-top: 100px;
  text-align: center;
}

.container-site-principal-depoimentos h2 {
  font-family: "Sora", sans-serif;
  margin-bottom: 100px;
}

.container-site-principal-depoimentos div {
  border: 3px solid #dddddd;
  border-radius: 4px;
  width: 912px;
  text-align: center;
  padding: 30px 10px;
  font-family: "Sora", sans-serif;
  box-shadow: 0px 7px 10px #7070708a;
  margin: auto;
  margin-bottom: 100px;
}

.container-site-principal-depoimentos h5,
p {
  line-height: 30px;
}

/*-------------------Footer--------------------*/

.container-site-principal-footer {
  background-color: black;
  font-family: "Sora", sans-serif;
  padding: 100px 0;
}

.container-site-principal-footer-row1,
.container-site-principal-footer-row2 {
  max-width: 70%;
  color: white;
  display: flex;
  justify-content: center;
  margin: auto;
}

.container-site-principal-footer-row1 ul {
  margin: 0 30px;
}

.container-site-principal-footer-row1 ul h3,
.container-site-principal-footer-row2 ul h3 {
  margin-bottom: 30px;
  color: #767676;
}

.container-site-principal-footer-row2 {
  display: flex;
  justify-content: flex-start;
}

.container-site-principal-footer-row2 ul {
  margin-left: 100px;
}

.container-barra-footer {
  background-color: black;
  margin-top: auto;
  color: white;
  font-family: "Sora", sans-serif;
  display: flex;
  justify-content: space-around;
  padding-bottom: 60px;
}

.container-barra-footer ul {
  display: flex;
  align-items: center;
}

.container-barra-footer ul li {
  margin: 0 20px;
}

/*-----------------Site principal blog----------------*/

.container-site-principal-blog {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.container-site-principal-blog ul {
  display: flex;
  font-family: "Sora", sans-serif;
}

.container-site-principal-blog ul li:nth-child(1) {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 50px;
  line-height: 40px;
}

.container-site-principal-blog ul li:nth-child(1) p {
  line-height: 23px;
}

.container-site-principal-blog ul li {
  width: 300px;
  margin: 0 10px 0 10px;
}

/*-----------------Page informações imóveis---------------*/

.container-site-principal-informacoes-imovel {
  padding: 50px 20px;
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}

.container-site-principal-informacoes-imovel
  .container-site-principal-informacoes-imovel-cliente:nth-child(1) {
  width: 40%;
}

.container-site-principal-informacoes-imovel
  .container-site-principal-informacoes-imovel-cliente
  div {
  margin-bottom: 50px;
}

.container-site-principal-informacoes-imovel
  .container-site-principal-informacoes-imovel-cliente
  div
  a {
  margin-top: 50px;
}

.container-site-principal-imoveis-informacoes-edificios {
  margin: 100px auto 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.container-site-principal-imoveis-informacoes-edificios-detalhes {
  font-family: "Sora", sans-serif;
  margin: 20px;
}

.container-site-principal-imoveis-informacoes-edificios-detalhes span {
  color: #1890ff;
  line-height: 3;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.container-site-principal-imoveis-informacoes-edificios-detalhes-text-short {
  font-weight: bold;
  line-height: 3;
}

.container-site-principal-imoveis-informacoes-edificios-detalhes-list-caracteristicas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.container-site-principal-imoveis-informacoes-edificios-detalhes-list-caracteristicas
  p {
  line-height: 3;
}

.container-site-principal-imoveis-informacoes-edificios-detalhes-list-caracteristicas-p {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
}

.container-site-principal-informacoes-imovel-cliente-icones-medidas {
  display: flex;
}

.container-site-principal-informacoes-imovel-cliente-icones-medidas li {
  margin: 0 20px 50px 20px;
  margin-left: 0;
  border: 1px solid #83b1c1;
  padding: 17px 35px;
  border-radius: 5px;
  color: #83b1c1;
  font-family: "Sora", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  transition: 0.2s;
}

.container-site-principal-informacoes-imovel-cliente-icones-medidas li:hover {
  transform: translateY(-2px);
  transition: 0.2s;
  box-shadow: 0px 5px 10px #83b2c141;
}

.container-site-principal-informacoes-imovel-cliente-icones-medidas-texts {
  font-family: "Sora", sans-serif;
  line-height: 2.5;
}

.container-site-principal-informacoes-imovel-cliente-icones-medidas-texts h3 {
  color: #5783eb;
  font-size: 18px;
}

.container-site-principal-informacoes-imovel-cliente-icones-medidas-texts p {
  display: inline-flex; /* Flexbox para alinhar conteúdo */
  align-items: center; /* Alinha verticalmente o ícone e o texto */
  margin-right: 10px; /* Espaçamento entre os itens */
  color: #879dac;
  font-size: 12px;
}

.container-site-principal-informacoes-imovel-cliente-icones-medidas-texts-container-2
  h3 {
  color: #5783eb;
  font-size: 18px;
  font-family: "Sora", sans-serif;
  line-height: 2.5;
}

.container-site-principal-informacoes-imovel-cliente-icones-medidas-texts-container-2
  p {
  font-family: "Sora", sans-serif;
}

.container-site-principal-informacoes-imovel-cliente .receber-informacoes {
  width: 30%;
}

.container-button-preco-informacoes-imoveis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4ac7f0;
  font-weight: bold;
}

.container-site-principal-buttons-apresentacao {
  padding: 0px 100px;
  padding-bottom: 30px;
  margin-top: -30px;
  display: flex;
  justify-content: flex-end;
  gap: 20;
}

/*---------------------carousel large-------------------------*/

.testekk {
  padding-top: 102px;
}

.carousel-large-swiper .append-buttons {
  text-align: center;
  margin-top: 20px;
  border: 3px solid red !important;
}

.carousel-large-swiper .append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.carousel-large-swiper .swiper-button-next,
.carousel-large-swiper .swiper-button-prev {
  background-color: rgb(0, 0, 0);
  height: 40px;
  font-weight: bold;
  color: white;
  font-weight: bold;
  transition: opacity 0.3s ease;
  width: 40px;
  border-radius: 50%;
}

.carousel-large-swiper .swiper-button-next {
  right: 18.35%;
}

.carousel-large-swiper .swiper-button-prev {
  left: 18.35%;
}

@media (max-width: 900px) {
  .carousel-large-swiper .swiper-button-next {
    right: 17%;
  }

  .carousel-large-swiper .swiper-button-prev {
    left: 17%;
  }
}

.carousel-large-swiper [class^="swiper-button-"]::after {
  font-size: 15px;
}

.carousel-large-swiper .swiper-pagination-fraction {
  font-size: 5px;
  color: #ffffff;
  font-family: "Sora", sans-serif;
  background-color: rgb(0, 0, 0);
  padding: 15px 10px;
  border-radius: 20px;
  width: 50px;
  top: -60px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* Estilizando os números */
.carousel-large-swiper .swiper-pagination-fraction span {
  font-size: 13px;
  color: #ffffff;
  text-align: center;
}

/* Estilizando o separador "/" */
.carousel-large-swiper .swiper-pagination-fraction span:nth-child(2) {
  color: #ffffff;
}

/*---------------------legenda de imagens carousel grande---------------------*/

.container-legenda-vantagens-imovel {
  position: absolute;
  color: white;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 5;
  padding-left: 0;
  padding-right: 0;
  margin-left: 30;
  width: 59%;
  margin: auto;
  background: rgba(0, 0, 0, 0);
}

.legenda-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 5%;
}

.legenda-item {
  display: inline-block;
  white-space: nowrap;
  margin: 10px 0 0 0;
  background-color: black;
  font-family: "Sora", sans-serif;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.icon-list {
  display: flex;
}

.icon-list-1,
.icon-list-2,
.icon-list-3 {
  cursor: pointer;
}
